/* Estilo geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Quicksand', sans-serif; 
    line-height: 1.6;
    color: #333;
    background: #f8fdf8;
  }
  
  h1, h2 {
    text-align: center;
    font-family: 'Playfair Display', serif; 
    color: #2a5727;
    margin-bottom: 20px;
  }
  
  p {
    text-align: center;
    font-size: 18px;
    padding: 0 20px;
    color: #555;
  }
  

  .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    background: linear-gradient(to right, #b9fbc4, #5cbf63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    z-index: 1000;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  .logo img {
    max-height: 120px;
    max-width: 120px;
    object-fit: contain;
  }
  
  .logo-ajuda img {
    max-height: 50px;
    max-width: 120px;
    object-fit: contain;
  }
  
  .logo-ajuda {
    display: flex;
    align-items: center;
    gap: 10px; 
  }
  
  .texto-ajuda {
    font-size: 18px; 
    font-weight: 600;
    color: #fff;
    margin-right: 10px; 
  }
  

  .nav ul {
    list-style: none;
    display: flex;
    gap: 80px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
  }
  
 
  .banner {
    position: relative;
    width: 100%; 
    height: 600px; 
    overflow: hidden;
    margin-top: 120px; 
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .texto-banner {
    position: absolute; 
    top: 65%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center;
    z-index: 2; 
  }
  
  .titulo-banner {
    color: #ffffff; 
    font-size: 60px;
    font-weight: 900;
    text-shadow: 
      0px 0px 10px rgba(0, 0, 0, 0.9),  
      5px 5px 20px rgba(0, 0, 0, 0.7),  
      -5px 10px 40px rgba(0, 0, 0, 0.5), 
      0px 20px 80px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
  }
  
  .subtexto-banner {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 
      0px 0px 8px rgba(0, 0, 0, 0.9),   
      5px 5px 15px rgba(0, 0, 0, 0.6),  
      -5px 10px 30px rgba(0, 0, 0, 0.5), 
      0px 15px 50px rgba(0, 0, 0, 0.3);
    line-height: 1.4;
  }
  
  
  .section {
    padding: 140px 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .gradienteVERDE {
    background: linear-gradient(to right, #b9fbc4, #5cbf63);
  }
  
  .gradienteVERDE h2 {
    font-size: 48px;
    font-family: 'Playfair Display', serif;
    color: #2a5727;
    padding-bottom: 20px;
    text-shadow: 0px 0px 20px rgb(134, 132, 132);
  }
  
  .gradienteVERDE p {
    color: #ffffff;
    font-size: 23px;
    line-height: 1.6;
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-weight: 700;
    text-shadow: 0px 0px 20px rgb(51, 50, 50);
  }
  
  .fundoBRANCO {
    background: #fff;
  }
  
  .fundoBRANCO h2{
    display: flex;
    text-align: left;    
  }
.secaoDOIS {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  align-items: flex-start; 
}

.secaoDOIS h2 {
  text-align: center; 
  font-size: 32px; 
  margin-bottom: 15px; 
  margin-left: 20px;
  width: 100%; 
}

.secaoDOIS .content {
  display: flex; 
  gap: 70px; 
  align-items: center; 
}

.secaoDOIS p {
  text-align: left; 
  font-size: 18px; 
  line-height: 1.6; 
  color: #000000; 
  max-width: 600px; 
  font-weight: 600;
}

.secaoDOIS .image-container img {
  width: 400px; 
  height: auto;
  margin-left: 100px;
  border-radius: 50%;
  object-fit: cover; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
/* -------------------------------SECAO3----------- */
/* Estilo para a Seção 3 */
.secao3 {
  padding: 80px 20px;
  background: linear-gradient(to right, #b9fbc4, #5cbf63); 
  text-align: center;
}

.secao3 h2 {
  font-size: 36px;
  color: #2a5727; 
  margin-bottom: 40px;
  text-shadow: none; 
}


.card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  gap: 30px; 
}


.card {
  align-items: center;
  background: #ffffff; 
  color: #000; 
  padding: 30px; 
  border-radius: 15px; 
  width: 350px; 
  height: 350px; 
  border: 3px solid #5cbf63; 
  display: flex;
  flex-direction: column; 

}

/* TITULOCARD */
.card h3 {
  font-size: 24px;
  color: #2a5727; 
  text-shadow: none; 
  margin-bottom: 20px;
}

/* TEXTOCARD */
.card p {
  font-size: 18px; 
  line-height: 1.6; 
  margin: 0;
  color: #000000; 
  font-weight: 500;
}

/* -----------------------SECAO4------------------- */

.saudeMENTAL {
  padding: 80px 20px;
  background: linear-gradient(to right, #f8fdf8, #e7f8ec);
  text-align: center;
}

.dicasTITULO {
  font-size: 36px;
  color: #2a5727;
  margin-bottom: 40px;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Playfair Display', serif;
}

.dicasCONTAINER {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  align-items: center; 
}

.dicasITEM {
  background: #ffffff; 
  color: #070707; 
  font-size: 20px; 
  line-height: 1.8; 
  font-weight: 600;
  width: 90%; 
  max-width: 800px; 
  padding: 15px 25px; 
  border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  border: 2px solid #5cbf63; 
  text-align: left; 
}
/* --------------------------SECA05---------------- */
.historias {
  padding: 100px 20px;
  background: linear-gradient(to right, #e7f8ec, #d0f0e0);
  text-align: center;
}

.historiasTITULO {
  font-size: 36px;
  color: #2a5727;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

.historiasSUBTITULO {
  font-size: 18px;
  color: #555;
  margin-bottom: 50px;
}

.historiasCONTAINER {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px; 
  align-items: stretch; 
}

.historiaCARD {
  background: #ffffff;
  border-radius: 15px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.historiaCARD:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.historiaIMG {
  width: 50px; 
  height: 50px; 
  margin: 0 auto 15px; 
}

.historiaNOME {
  font-size: 20px;
  color: #2a5727;
  margin-bottom: 10px;
}

.historiaPREVIEW {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.historiaBORDA {
  background: #5cbf63;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-self: center; 
}

.historiaBORDA:hover {
  background: #4aa752;
}
/* --------------------------------SECAO6--------------------------------- */
.banner2 {
  width: 100%;
  overflow: hidden; 
  margin: 0 auto;
}

.bannerIMG {
  width: 100%; 
  height: 500px;
  object-fit: cover;
}
/* ----------------------------------SECAO7----------------------------------- */
.secao7 {
  background: linear-gradient(to right, #f8fdf8, #e7f8ec);
  padding: 100px 20px;
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.conteudo-secao7 {
  display: flex;
  max-width: 1200px;
  gap: 50px; 
  align-items: center; 
}

.imagem-secao7 img {
  width: 350px; 
  height: auto; 
  border-radius: 10px; 
  object-fit: contain; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}

.texto-secao7 {
  flex: 1; 
  text-align: left; 
  font-family: 'Quicksand', sans-serif;
}

.texto-secao7 h2 {
  font-size: 36px;
  color: #2a5727; 
  margin-bottom: 20px; 
  font-family: 'Playfair Display', serif; 
}

.texto-secao7 p {
  font-size: 18px; 
  line-height: 1.8;
  color: #080808; 
  font-weight: 600;
}

/* Seção 8: Sobre Mim */
.secao8 {
  width: 100%; 
  background: linear-gradient(to right, #f8fdf8, #e7f8ec); 
  padding: 100px 20px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.conteudo-secao8 {
  display: flex; 
  max-width: 1200px; 
  gap: 50px; 
  align-items: center; 
}

.texto-secao8 {
  flex: 1;
  text-align: left; 
  font-family: 'Quicksand', sans-serif;
}

.texto-secao8 h2 {
  font-size: 36px; 
  color: #2a5727; 
  margin-bottom: 20px; 
  font-family: 'Playfair Display', serif; 
}

.texto-secao8 p {
  font-size: 20px; 
  line-height: 1.8;
  color: #555; 
  font-style: italic; 
}

.texto-secao8 b {
  color: #2a5727; 
}

.imagem-secao8 img {
  width: 300px;
  height: 300px; 
  border-radius: 50%;
  object-fit: cover; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
}



  /* Footer */
.footer {
  background: linear-gradient(to right, #b9fbc4, #5cbf63);
  color: #fff;
  text-align: center;
  padding: 30px 20px;
  font-size: 16px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

.footerCONTEUDO {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; 
  gap: 20px; 
}

.footerESQ,
.footer-CENTRO,
.footer-DIREITA {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.footerTITULO {
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
}

.footerEMAIL,
.footer-CEL {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}

.footerICON img {
  margin-top: 8px;
  width: 24px; 
  height: 24px;
  display: inline-block;
}

.footerICON {
  text-decoration: none;
}

.footer p {
  margin-top: 20px;
  font-size: 14px;
  color: #eee;
}

  